[package]
name = "tikv-client-common"
version = "0.0.0"
edition = "2018"


[dependencies]
failure = "0.1"
grpcio = { version = "0.6", features = [ "secure", "prost-codec" ], default-features = false }
futures = { version = "0.3.5", features = ["compat", "async-await", "thread-pool"] }
lazy_static = "1"
regex = "1"
serde = "1.0"
serde_derive = "1.0"
log = "0.4"
derive-new = "0.5"
kvproto = { git = "https://github.com/pingcap/kvproto.git", rev = "1e28226154c374788f38d3a542fc505cd74720f3", features = [ "prost-codec" ], default-features = false }

[dependencies.prometheus]
version = "0.8"
default-features = false
features = ["push", "process"]


[dev-dependencies]
clap = "2.32"
tempdir = "0.3"
tokio = { version = "0.2", features = ["rt-threaded", "macros"] }
proptest = "0.9"
proptest-derive = "0.1.0"
fail = { version = "0.3", features = [ "failpoints" ] }
