[package]
name = "tikv-client-proto"
version = "0.1.0"
edition = "2018"
license = "Apache-2.0"
authors = ["The TiKV Project Authors"]
repository = "https://github.com/tikv/client-rust"
description = "Protobuf specs for the TiKV Rust client"
build = "build.rs"

[build-dependencies]
protobuf-build = { version = "0.12", default-features = false, features = ["grpcio-prost-codec"] }

[dependencies]
protobuf = "2.8"
prost = { version = "0.7" }
prost-derive = { version = "0.7" }
futures = "0.3"
grpcio = { version = "0.9", features = [ "secure", "prost-codec", "use-bindgen" ], default-features = false }
lazy_static = { version = "1" }
